@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}
/*body {*/
/*  background: rgb(244, 244, 244);*/
/*}*/
button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
    background-color: #f04400fa;
    background-image: none;
    padding: 7px 16px;
    margin-top: 34px;
    border-radius: 8px;
}